# Visual Studio temporary files
bin/
obj/
*.user
*.suo
*.cache
.vs/

# Build outputs
*.dll
*.exe
*.pdb

# NuGet
packages/
*.nupkg

# User-specific files
*.csproj.user
/contacts.txt

*.o

drmemory-windows-installer.msi

content_manager
